{% extends "base.html" %}

{% block title%}About{% endblock %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h2 class="mb-4">About us</h2>

        <img src="../static/images/big_logo.png" alt="author" class="img-fluid w-100 mb-4">

        <h3 class="font-weight-light">Hello, we are <span class="font-weight-bold">Leco</span></h3>

        <p>The eco-plateform for the environnement and stuff 🌳. Our objective is to make our audience
          aware of our <em>Mother Earth</em> and its fragility. Our features include :
          <ul>
            <li>📰 Read the last articles about environnement from TheGuardian</li>
            <li>📈 Analytics and Statistics about our Earth</li>
            <li>🏗 Some amazing features incoming... </li>
          </ul>
        </p>

        <br><br>

        <blockquote>
          “The Earth is what we all have in common.”
          <br>
          - Wendell Berry
        </blockquote>

        <br><br>
        <p>This project was created by ESIEE Paris students.</p>

      </div>
    </div>
  </div>
</section>
{% endblock %}
