{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block content %}
<!-- featured post -->
<section>
  <div class="container-fluid p-sm-0">
    <div class="row featured-post-slider">
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-1.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">LifeStyle</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10 Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-2.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Philosophy</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-3.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Fashion</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-4.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Article</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-5.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Nature</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-6.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Nature</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-7.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Nature</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
        <article class="card bg-dark text-center text-white border-0 rounded-lg">
          <img class="card-img rounded-lg img-fluid w-100" src="../static/images/featured-post/post-8.jpg" alt="post-thumb">
          <div class="card-img-overlay">
            <div class="card-content">
              <p class="text-uppercase">Nature</p>
              <h4 class="card-title mb-4"><a class="text-white" href="{{url_for('article')}}">Organize Your Life With 10
                  Simple rule</a></h4>
              <a class="btn btn-outline-light" href="{{url_for('article')}}">read more</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /featured post -->

<!-- blog post -->
<section class="section">
  <div class="container">
    <div class="row masonry-container">

      <!-- ARTICLES -->
      {% for article in articles %}
      <div class="col-lg-4 col-sm-6 mb-5">
        <article class="text-center">

          <!-- ARTICLES : Banner -->
          {% if article.has_banner() %}
          <img class="img-fluid mb-4" src="{{article.banner}}" alt="post-thumb">
          {% else %}
          <img class="img-fluid mb-4" src="../static/images/post-single.jpg" alt="post-thumb">
          {% endif %}

          <!-- ARTICLES : Tag -->
          <p class="text-uppercase mb-2">{{article.tags[0]}}</p>

          <!-- ARTICLES : Title -->
          <h4 class="title-border">
            <a class="text-dark" href="{{url_for('article')}}">{{article.title}}</a>
          </h4>

          <!-- ARTICLES : Body preview -->
          <p>{{article.get_body()[:220] + '...'}}</p>

          <a href="{{url_for('article')}}" class="btn btn-transparent">read more</a>
        </article>
      </div>
      {% endfor %}
      <!-- /ARTICLES -->

    </div>
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="pagination justify-content-center align-items-center">
            <li class="page-item">
              <span class="page-link">&laquo; Previous</span>
            </li>
            <li class="page-item active">
              <span class="page-link">01</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#">04</a></li>
            <li class="page-item"><a class="page-link" href="#">05</a></li>
            <li class="page-item"><a class="page-link" href="#">06</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next &raquo;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->
{% endblock %}
